<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metalang4md -->
      <package
            uri="http://www.inf.ufg.br/metalang4md"
            class="br.ufg.inf.metalang4md.Metalang4mdPackage"
            genModel="src/main/resources/model/metalang4md.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mgridml -->
      <package
            uri="http://www.inf.ufg.br/m4md/mgridml"
            class="mgridml.MgridmlPackage"
            genModel="src/main/resources/model/metamodel/mgridml-model/mgridml.genmodel"/>
   </extension>

	<extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated m4md -->
      <package
            uri="http://www.inf.ufg.br/m4md"
            class="m4md.M4mdPackage"
            genModel="src/main/resources/model/m4md.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testing -->
      <package
            uri="http://www.inf.ufg.br/metalang4md/testing"
            class="testing.TestingPackage"
            genModel="src/main/resources/model/metamodel/testing/testing.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testing3 -->
      <package
            uri="http://www.inf.ufg.br/metalang4md"
            class="metalang4md.Metalang4mdPackage"
            genModel="src/main/resources/model/metamodel/testing/testing3.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated policies -->
      <package
            uri="http://www.inf.ufg.br/metalang4md/policies"
            class="br.ufg.inf.metalang4md.policies.PoliciesPackage"
            genModel="src/main/resources/model/policies.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rbcml -->
      <package
            uri="http://www.inf.ufg.br/metalang4md/rbcml"
            class="br.ufg.inf.metalang4md.rbcml.RbcmlPackage"
            genModel="src/main/resources/model/metamodel/rbcml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cml -->
      <package
            uri="http://www.inf.ufg.br/metalang4md/cml"
            class="br.ufg.inf.metalang4md.cml.CmlPackage"
            genModel="src/main/resources/model/metamodel/cml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated policies -->
      <package
            uri="http://www.inf.ufg.br/metalang4md/policies"
            class="br.ufg.inf.metalang4md.policies.PoliciesPackage"
            genModel="src/main/resources/model/policies.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rbcml -->
      <package
            uri="http://www.inf.ufg.br/metalang4md/rbcml"
            class="br.ufg.inf.metalang4md.rbcml.RbcmlPackage"
            genModel="src/main/resources/model/metamodel/rbcml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cml -->
      <package
            uri="http://www.inf.ufg.br/metalang4md/cml"
            class="br.ufg.inf.metalang4md.cml.CmlPackage"
            genModel="src/main/resources/model/metamodel/cml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated testing2 -->
      <package
            uri="http://www.inf.ufg.br/m4md/testing2"
            class="testing2.Testing2Package"
            genModel="src/main/resources/model/metamodel/testing2/testing2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated iscadapter -->
      <package
            uri="http://www.inf.ufg.br/adapter/iscadapter"
            class="iscadapter.IscadapterPackage"
            genModel="src/main/resources/model/metamodel/interscity-model/iscadapter.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated iscadapter -->
      <package
            uri="http://www.inf.ufg.br/adapter/isc-adapter/components"
            class="iscadapter.components.ComponentsPackage"
            genModel="src/main/resources/model/metamodel/interscity-model/iscadapter.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated iscadapter -->
      <package
            uri="http://www.inf.ufg.br/adapter/isc-adapter/resources"
            class="iscadapter.resources.ResourcesPackage"
            genModel="src/main/resources/model/metamodel/interscity-model/iscadapter.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated iscadapter -->
      <package
            uri="http://www.inf.ufg.br/adapter"
            class="adapter.AdapterPackage"
            genModel="src/main/resources/model/metamodel/interscity-model/iscadapter.genmodel"/>
   </extension>
</plugin>
